/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 33px;
  font-size: 13px;
  font-family: verdana;
  line-height: 18px;
}

h1 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px
}

.top-text {
  margin: 0 33px 0 33px;
}

.top-text p{
  display: block;
  line-height: 66px;
}

table {
  width: 100%;
}

th {
  text-align: center
}

tr {
  height: 26px;
}

.action {
  display: block;
}

.index-contents {
margin: 18px 0;
}

.index-contents h2{
  font-weight: normal;
}

.new-box, .edit-box {
  margin-bottom: 10px;
}

.show-item {
  margin-left: 33px;
}

.show-item p {
  margin-bottom: 33px;
}

.slash {
  display: inline-block;
}

.action{
  margin-bottom: 10px;
}

.notice {
  color: green;
  margin: 33px;
}